
venv/

_data/

Daniels_dataset_1/

Daniels_dataset_2/

Daniels_dataset_3/

Lizas_dataset_1/

Lizas_dataset_2/

Lizas_Dataset_3/

experiments/

test.py

Dataset_Loaders_for_Liza.py

process_lizas_data.py

__pycache__/

\.ipynb_checkpoints/

\.idea/

best_weight_set.h5

Daniels_dataset_1.pickle

Daniels_dataset_2.pickle

Daniels_dataset_3.pickle

Experiment_results/big_E-D.pickle

Experiment_results/bigMiMo-LSTM.pickle

Experiment_results/medMiMo-LSTM.pickle

Experiment_results/smallMiMo-LSTM.pickle

med_E-D.pickle

med_MiMo-attn-tcn.pickle

*.pickle

*.v2

*.profile-empty

*.trace
